/* MENU */


#nav {
width:1000px;

font-size:15px !important; 
		

  background-color:#1349A1;
 border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;

 float: left;
 margin: 0; padding: 0;

 border-bottom: none;
 z-index:300;
}

#nav li a, #nav li {
 float: left;
 z-index:300;
}

#nav li {
 list-style: none;
 position: relative;
 z-index:300;
}

#nav li a {
 padding: 11px 10px; 
 text-decoration: none;
 color: white;
border-height: 10px;
	border-right:1px solid #fff;
}

#nav li a:hover, #nav li a:active {
 background: #159D1A;
  color:#FFFFFF;
}
#nav li:first-child a:hover {
	border-radius: 5px 0 0 5px;
}
#nav li ul li:first-child a:hover {
	border-radius: 0;
}

.selected {
 background: #066A38!important;
 color:#FFFFFF!important;
 /*
 background: -moz-linear-gradient(top, #11032e, #2a0d65);
 background: -webkit-gradient(linear, left top, left bottom, from(#11032e), to(#2a0d65));
 */
}


/* Submenu */

.hasChildren {
	position: absolute;
	width: 5px; height: 5px;
	/*background-image:url(../images/down.png);*/
	right:5px;
	bottom: 16px;
}

#nav li ul {
 display: none;
 position: absolute;
 left: 0;
 top: 100%;
 padding: 0; margin: 0;
  background: #159D1A;
  border-right:0px solid #FE14A8;
}

#nav li:hover > ul {
 display: block;
}

#nav li ul li, #nav li ul li a {
 float: none;
 border-right:0px solid #F78F1D;
 color: #fff;
}

#nav li ul li {
 _display: inline; /* for IE6 */
}

#nav li ul li a {
 width: 150px;
 display: block;
 font-size:12px;
}
#nav li ul li a:hover {
	font-weight:400;
	background-color: #1349A1;
	color: #fff;
}

/* SUBSUB Menu */

#nav li ul li ul {
 display: none;
}

#nav li ul li:hover ul {
 left: 100%;
 top: 0;
}


#nav li ul 